In [1]:
 -- Comenzaremos con la cantidad de cargos por departamento
SELECT d.Departamento, COUNT(e.Id_Cargo) AS CantidadCargos
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
GROUP BY d.Departamento;

Departamento,CantidadCargos
Datos,5
Desarollo de software,5
Gestión de Proyectos,3
Infraestructura,6
Investigación y desarrollo,6
Soporte Técnico,5

In [2]:
-- Ahora calculamos el Top 3 departamento con mas cargos
SELECT TOP 3 d.Departamento, COUNT(e.Id_Cargo) AS CantidadCargos
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
GROUP BY d.Departamento
ORDER BY COUNT(e.Id_Cargo) DESC;

Departamento,CantidadCargos
Infraestructura,6
Investigación y desarrollo,6
Desarollo de software,5

In [3]:
-- Ahora calculamos la cantidad de empleados por cargo
SELECT c.Cargo, COUNT(e.Nombre) AS CantidadEmpleados
FROM dbo.Empleados e
INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
GROUP BY c.Cargo;

Cargo,CantidadEmpleados
Administrador de Base de Datos,4
Analista Bi,3
Analista de Datos,3
Analista de Negocios,3
Científico de Datos,1
Desarrollador de Software,2
Diseñador UX/UI,1
Especialista en Redes,1
Especialista en Seguridad Informática,1
Gerente de Proyecto,1
Gerente de TI,2
Ingeniero de Datos,1
Ingeniero de Software,2
Ingeniero de Telecomunicaciones,2
Técnico de Soporte,3

In [4]:
-- Calculamos el top 3 de Cargos de la empresa es decir cantidad de empleados con ese cargo.
WITH CargosConCantidad AS (
    SELECT c.Cargo, COUNT(e.Nombre) AS CantidadEmpleados,
           ROW_NUMBER() OVER (ORDER BY COUNT(e.Nombre) DESC) AS rn
    FROM dbo.Empleados e
    INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
    GROUP BY c.Cargo
)
SELECT Cargo, CantidadEmpleados
FROM CargosConCantidad
WHERE rn <= 3;

Cargo,CantidadEmpleados
Administrador de Base de Datos,4
Analista Bi,3
Analista de Datos,3

In [5]:
-- Ahora podemos calcular el promedio de salario por departamento
SELECT d.Departamento, CAST(AVG(c.Salario) AS INT) AS PromedioSalario
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
GROUP BY d.Departamento;

Departamento,PromedioSalario
Datos,7100000
Desarollo de software,7400000
Gestión de Proyectos,9333333
Infraestructura,7916666
Investigación y desarrollo,7250000
Soporte Técnico,6800000

In [6]:
-- Ahora calculamos el TOP 3 salarios por departamento
WITH SalariosPorDepartamento AS (
    SELECT d.Departamento, MAX(c.Salario) AS Salario
    FROM dbo.Empleados e
    INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
    INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
    GROUP BY d.Departamento
)
SELECT Departamento, Salario
FROM (
    SELECT Departamento, Salario,
           ROW_NUMBER() OVER (ORDER BY Salario DESC) AS rn
    FROM SalariosPorDepartamento
) AS SalariosNumerados
WHERE rn <= 3;

Departamento,Salario
Gestión de Proyectos,9500000.00
Datos,8500000.00
Infraestructura,8000000.00