## Desafío 4

<span lang="ES" style="font-size: 10.5pt; font-family: Arial, sans-serif;">Dependiendo si escoge una base de datos SQL/NoSQL, un Datawarehouse, o un Datalake, entonces desarrolle una view/query/report a partir del modelo de datos.</span>

<span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 164.544px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.881514);">Dependiendo si escoge una base de datos SQL/NoSQL, un Datawarehouse</span><span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 581.196px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.895836);">, o un Datalake, entonces d</span><span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 733.958px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.908041);">esarrolle una</span> <span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 810.623px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.988306);">view/</span><span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 842.226px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.973194);">query/</span><span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 880.181px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif; transform: scaleX(0.974545);">report</span> <span role="presentation" dir="ltr" style="padding: 0px; margin: 0px; color: rgba(0, 0, 0, 0); position: absolute; white-space: pre; cursor: text; transform-origin: 0% 0%; caret-color: rgba(0, 0, 0, 0); text-size-adjust: auto; left: 919.042px; top: 1330.55px; font-size: 13.9115px; font-family: sans-serif;">a</span>

In [30]:
-- Comenzaremos con la cantidad de cargos por departamento
SELECT d.Departamento, COUNT(e.Id_Cargo) AS CantidadCargos
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
GROUP BY d.Departamento;

Departamento,CantidadCargos
Datos,5
Desarollo de software,5
Gestión de Proyectos,3
Infraestructura,6
Investigación y desarrollo,6
Soporte Técnico,5

In [69]:
-- Ahora calculamos el Top 3 departamento con mas cargos
SELECT TOP 3 d.Departamento, COUNT(e.Id_Cargo) AS CantidadCargos
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
GROUP BY d.Departamento
ORDER BY COUNT(e.Id_Cargo) DESC;

Departamento,CantidadCargos
Infraestructura,6
Investigación y desarrollo,6
Desarollo de software,5

In [36]:
-- Ahora calculamos la cantidad de empleados por cargo
SELECT c.Cargo, COUNT(e.Nombre) AS CantidadEmpleados
FROM dbo.Empleados e
INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
GROUP BY c.Cargo;

Cargo,CantidadEmpleados
Administrador de Base de Datos,4
Analista Bi,3
Analista de Datos,3
Analista de Negocios,3
Científico de Datos,1
Desarrollador de Software,2
Diseñador UX/UI,1
Especialista en Redes,1
Especialista en Seguridad Informática,1
Gerente de Proyecto,1
Gerente de TI,2
Ingeniero de Datos,1
Ingeniero de Software,2
Ingeniero de Telecomunicaciones,2
Técnico de Soporte,3

In [39]:
-- Calculamos el top 3 de Cargos de la empresa es decir cantidad de empleados con ese cargo.
WITH CargosConCantidad AS (
    SELECT c.Cargo, COUNT(e.Nombre) AS CantidadEmpleados,
           ROW_NUMBER() OVER (ORDER BY COUNT(e.Nombre) DESC) AS rn
    FROM dbo.Empleados e
    INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
    GROUP BY c.Cargo
)
SELECT Cargo, CantidadEmpleados
FROM CargosConCantidad
WHERE rn <= 3;

Cargo,CantidadEmpleados
Administrador de Base de Datos,4
Analista Bi,3
Analista de Datos,3

In [53]:
-- Vamos a agregarle los salarios a cada uno de los cargos para realizar unas mejores consultas


ALTER TABLE dbo.Cargo
ADD Salario DECIMAL(18, 2);  

UPDATE dbo.Cargo
SET Salario = 
    CASE 
        WHEN Cargo = 'Administrador de Base de Datos' THEN 8000000
        WHEN Cargo = 'Analista BI' THEN 7000000
        WHEN Cargo = 'Analista de Datos' THEN 6500000
        WHEN Cargo = 'Analista de Negocios' THEN 7500000
        WHEN Cargo = 'Científico de Datos' THEN 8500000
        WHEN Cargo = 'Desarrollador de Software' THEN 7500000
        WHEN Cargo = 'Diseñador UX/UI' THEN 7000000
        WHEN Cargo = 'Especialista en Redes' THEN 7500000
        WHEN Cargo = 'Especialista en Seguridad Informática' THEN 8000000
        WHEN Cargo = 'Gerente de Proyecto' THEN 9000000
        WHEN Cargo = 'Gerente de TI' THEN 9500000
        WHEN Cargo = 'Ingeniero de Datos' THEN 7500000
        WHEN Cargo = 'Ingeniero de Software' THEN 7500000
        WHEN Cargo = 'Ingeniero de Telecomunicaciones' THEN 8000000
        WHEN Cargo = 'Técnico de Soporte' THEN 6000000
        WHEN Cargo = 'TI Recruiter' THEN 5500000
        WHEN Cargo =  'Analista de Sistemas' THEN 5800000
        WHEN Cargo =  'Coordinador de Recursos Humanos' THEN 6500000
        ELSE 0
    END;

In [64]:
-- Ahora podemos calcular el promedio de salario por departamento
SELECT d.Departamento, CAST(AVG(c.Salario) AS INT) AS PromedioSalario
FROM dbo.Empleados e
INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
GROUP BY d.Departamento;

Departamento,PromedioSalario
Datos,7100000
Desarollo de software,7400000
Gestión de Proyectos,9333333
Infraestructura,7916666
Investigación y desarrollo,7250000
Soporte Técnico,6800000

In [68]:
-- Ahora calculamos el TOP 3 salarios por departamento
WITH SalariosPorDepartamento AS (
    SELECT d.Departamento, MAX(c.Salario) AS Salario
    FROM dbo.Empleados e
    INNER JOIN dbo.Departamentos d ON e.Id_Departamento = d.Id_Departamento
    INNER JOIN dbo.Cargo c ON e.Id_Cargo = c.Id_Cargo
    GROUP BY d.Departamento
)
SELECT Departamento, Salario
FROM (
    SELECT Departamento, Salario,
           ROW_NUMBER() OVER (ORDER BY Salario DESC) AS rn
    FROM SalariosPorDepartamento
) AS SalariosNumerados
WHERE rn <= 3;

Departamento,Salario
Gestión de Proyectos,9500000.00
Datos,8500000.00
Infraestructura,8000000.00