In [ ]:
import random
from faker import Faker
import pandas as pd
import uuid

## Desafio 1

* Construya un script que genere de forma automática los datos de: departamentos, puestos de trabajo, y empleados.

Vamos a crear bases de datos para cada uno de los tres ítems solicitados. Comenzaremos con la base de Departamentos para una empresa de tecnología

In [ ]:
departamentos = [
    'Datos',
    'Desarollo de software',
    'Infraestructura',
    'Soporte Técnico',
    'Gestión de Proyectos',
    'Recursos Humanos',
    'Investigación y desarrollo',
    ]

# Con esta sección de código crearemos la identificación para cada departamento
id_departamentos = ['DEP' + str(i).zfill(2) for i in range(1, len(departamentos) + 1)]

Ya que se crearon las litas con los departamentos y su identificación generamos el DataFrame

In [ ]:
df_departamentos = pd.DataFrame({
    'Departamento': departamentos,
    'Id_Dep': id_departamentos
})

In [ ]:
df_departamentos

,Departamento,Id_Dep
0,Datos,DEP01
1,Desarollo de software,DEP02
2,Infraestructura,DEP03
3,Soporte Técnico,DEP04
4,Gestión de Proyectos,DEP05
5,Recursos Humanos,DEP06
6,Investigación y desarrollo,DEP07

Ahora realizamos el mismo ejercicio para para los puesto de trabajo dentro de la empresa de tecnología, con su respectiva identificación

In [ ]:
puestos_trabajo = [
    "Desarrollador de Software", "Analista de Sistemas", "Ingeniero de Software", 
    "Técnico de Soporte", "Gerente de Proyecto", "Diseñador UX/UI", "Especialista en Seguridad Informática","Analista de Datos","Analísta Bi", 
    "Ingeniero de Datos", "Científico de Datos", "Administrador de Base de Datos", 
    "Gerente de TI", "Analista de Negocios", "Coordinador de Recursos Humanos", "TI Recruiter" ,"Ingeniero de Telecomunicaciones", "Especialista en Redes"
]
# Con esta fracción del mismo modo creamos e Id para cada puesto de trabajo
id_puestos = ['PT' + str(i).zfill(2) for i in range(1, len(puestos_trabajo) + 1)]

De nuevo generamos el DataFrame ya con las listas de la identificación y el pesto de trabajo creado

In [ ]:
df_puestos = pd.DataFrame({
    'Cargo': puestos_trabajo,
    'Id_Cargo': id_puestos
})

In [ ]:
df_puestos

,Cargo,Id_Cargo
0,Desarrollador de Software,PT01
1,Analista de Sistemas,PT02
2,Ingeniero de Software,PT03
3,Técnico de Soporte,PT04
4,Gerente de Proyecto,PT05
5,Diseñador UX/UI,PT06
6,Especialista en Seguridad Informática,PT07
7,Analista de Datos,PT08
8,Analísta Bi,PT09
9,Ingeniero de Datos,PT10
10,Científico de Datos,PT11
11,Administrador de Base de Datos,PT12
12,Gerente de TI,PT13
13,Analista de Negocios,PT14
14,Coordinador de Recursos Humanos,PT15
15,TI Recruiter,PT16
16,Ingeniero de Telecomunicaciones,PT17
17,Especialista en Redes,PT18

Ahora creamos la base de datos empleados, pero para este caso, realizamos la asociación de cada uno de los puestos de trabajo con su respectivo departamento para que en la creación de la base queden asignados de la manera correcta cada puesto de trabajo con su respectivo departamento.

In [ ]:
puestos_por_departamento = {
    'Datos': [
        "Ingeniero de Datos", 
        "Científico de Datos", 
        "Analista de Datos"
    ],
    'Desarrollo de Software': [
        "Desarrollador de Software", 
        "Analista de Sistemas", 
        "Ingeniero de Software", 
        "Diseñador UX/UI"
    ],
    'Infraestructura': [
        "Especialista en Seguridad Informática",
        "Administrador de Base de Datos",
        "Especialista en Redes"
    ],
    'Soporte Técnico': [
        "Técnico de Soporte",
        "ingeniero de Telecomunicaciones"
    ],
    'Gestión de Proyectos': [
        "Gerente de Proyecto", 
        "Gerente de TI"
    ],
    'Investigación y Desarrollo': [
        "Analista de Negocios",
        "Analista Bi"
    ]
    }

Ahora utilizamos la biblioteca faker para crear un nombre, un correo falso, una dirección y una fecha de nacimiento para cada empleado

Creamnos la función para crear la fecha de nacimiento

In [ ]:
from datetime import datetime

fake = Faker('es_CO')
def generar_fecha_nacimiento(edad_minima=22, edad_maxima=65):

    año_actual = datetime.now().year
    año_nacimiento = random.randint(año_actual - edad_maxima, año_actual - edad_minima)
    fecha = fake.date_of_birth(minimum_age=edad_minima, maximum_age=edad_maxima)
   
    fecha_nacimiento = fecha.replace(year=año_nacimiento)
    
    return fecha_nacimiento.strftime("%Y-%m-%d")

Creamos la función para la dirección tan solo tomando la primera parte de la dirección generada por fake, ya que lo que genera esta biblioteca brinda información que no es relevante para el ejercicio.

In [ ]:
def generar_direccion():
    direccion_completa = fake.address()
    primera_linea = direccion_completa.split('\n')[0]
    return primera_linea

Creamos la función para generar la lista de empleados con cada una de sus características

In [ ]:
fake = Faker('es_CO')
def generar_empleado(puestos_por_departamento):
    
    ## Con esta fracción tomamos de la lista relacionada de puestospor deartamento un aleatorio relacionado
    departamento = random.choice([dep for dep in puestos_por_departamento if puestos_por_departamento[dep]])
    
    puesto = random.choice(puestos_por_departamento[departamento])
    nombre_completo = fake.name()
    correo = fake.email()
    direccion = generar_direccion()
    fecha_nac = generar_fecha_nacimiento()
    return {
        'Nombre': nombre_completo,
        'Edad' : fecha_nac,
        'direccion': direccion,
        'Correo': correo,
        'Departamento': departamento,
        'Puesto': puesto

    }

Aplicamos la función para crear 30 empleados con su correspondiente información y lo convertimos a un DataFrame de Pandas

In [ ]:
empleados = [generar_empleado(puestos_por_departamento) for _ in range(30)]
df_empleados = pd.DataFrame(empleados)

In [ ]:
df_empleados

,Nombre,Edad,direccion,Correo,Departamento,Puesto
0,Juliana Escobar,1996-12-19,Cl. 7L Este # 3-1 Este,garciajorge@example.net,Infraestructura,Administrador de Base de Datos
1,Carlos Jhon Salazar Burbano,1959-06-11,Cl. 37 # 2-65 Este,torresjorge@example.com,Investigación y Desarrollo,Analista de Negocios
2,Yeison Martínez Prada,1960-07-09,Cl. 199 # 8R-2,edgar56@example.org,Datos,Ingeniero de Datos
3,Luisa Gamboa,1993-06-27,Avenida carrera 4ª # 90-1,luciabarragan@example.net,Desarrollo de Software,Analista de Sistemas
4,Carlos Arturo Méndez Páez,2000-06-18,Diagonal 151E # 8-66 Este,jefferson11@example.net,Gestión de Proyectos,Gerente de TI
5,María Laura García López,1969-05-22,Calle 51 # 8-2 Este,suarezdaniel@example.com,Desarrollo de Software,Desarrollador de Software
6,Lina Marín,1959-02-16,Cr. 30 # 44-1 Este,hoyosluz@example.org,Datos,Científico de Datos
7,Mirian Elena Cárdenas,1995-11-17,Cr. 54 # 42-9 Este,maria99@example.net,Investigación y Desarrollo,Analista de Negocios
8,Martha Pabón Cárdenas,1982-08-07,Av. carrera 108 # 7-6 Sur,velezalexander@example.net,Gestión de Proyectos,Gerente de TI
9,María Jaramillo Arenas,1996-09-25,Calle 5ª # 49-2 Este,mcorrea@example.net,Infraestructura,Administrador de Base de Datos
10,Arturo Carlos Hernández,1999-04-27,Cr. 14 # 31G-1,djimenez@example.net,Infraestructura,Administrador de Base de Datos
11,Alberto Perea Correa,1997-11-26,Cr. 145 # 7-93,leonardobravo@example.com,Infraestructura,Administrador de Base de Datos
12,Luis Ariza Gutiérrez,1997-03-07,Carrera 34X # 8-86,thernandez@example.org,Soporte Técnico,Técnico de Soporte
13,Carolina Elena Pineda,1998-05-05,Transversal 173Y # 9-48 Sur,vasquezdavid@example.com,Desarrollo de Software,Desarrollador de Software
14,Eduardo Herrera Rodríguez,1999-07-03,Cr. 91 # 52-54,ardilaluis@example.com,Soporte Técnico,ingeniero de Telecomunicaciones
15,Lorena Flórez,1999-02-15,Carrera 67A # 61-1 Este,asanchez@example.org,Investigación y Desarrollo,Analista Bi
16,Alejandro Vega,1996-01-28,Calle 10 # 4-39,palaciossergio@example.net,Investigación y Desarrollo,Analista de Negocios
17,Fernando Ángel Gil,2001-11-03,Dg. 119 Sur # 9-9,gonzalezangel@example.net,Datos,Científico de Datos
18,Flor Lozano,1981-11-18,Cl. 40 # 8K-26 Este,silviavillamizar@example.com,Gestión de Proyectos,Gerente de Proyecto
19,David Andrés Duque Martínez,1959-05-14,Cl. 5D # 68U-5 Sur,aliciamendoza@example.net,Gestión de Proyectos,Gerente de TI
20,Elvis Carlos Ospino Muñoz,2000-10-18,Avenida Marcela Granados Álvarez # 10-54 Sur,sandra39@example.com,Desarrollo de Software,Diseñador UX/UI
21,Carolina Alejandra Vallejo,1966-10-18,Av. Cunday # 4-7,victoriacalderon@example.com,Infraestructura,Administrador de Base de Datos
22,Sonia Mónica Caicedo,1988-05-06,Tr. 39 # 70-39,vanegaslinda@example.org,Gestión de Proyectos,Gerente de TI
23,Fabio Mario Velasco Pérez,1964-07-24,Cl. 63 # 71-73 Sur,carlosmartinez@example.net,Gestión de Proyectos,Gerente de TI
24,Tatiana Arango,1977-02-05,Cl. 8A Bis # 6W-3,wjimenez@example.com,Datos,Analista de Datos
25,Miguel Leonardo Chaparro,1977-01-10,Av. carrera 8ª # 8-63,rodriguezmilena@example.net,Infraestructura,Administrador de Base de Datos
26,Andrés Jhon Cano,1978-08-16,Tr. 12 # 7-6 Este,esthermoreno@example.net,Datos,Científico de Datos
27,Andrea Carolina Monroy,1978-11-27,Cr. 46 Este # 6W-74 Este,lealdavid@example.net,Datos,Analista de Datos
28,Beatriz Marcela Olaya,1963-12-16,Carrera 55 # 1-5 Este,dcastillo@example.org,Desarrollo de Software,Ingeniero de Software
29,Diego Molina Mejía,1992-12-26,Cl. 89 # 46P-93 Este,eduardocastaneda@example.com,Infraestructura,Especialista en Redes

## Desafío 2
Guarde los datos simulados en archivos con formato CSV/Parquet.

Guardaremos los datos en CSV, ya que, tenemos tres bases de datos y la idea es poderlas relacionan como un modelo SQL en la nube de Azure. Primero los guadaré como archivos locales y luego los copio en la nube

## Desafío 3

Se importarán las bases a un Datalake (Azure Blob Storage) en la nube de Azure. En primera instancia instalamos la librería Azure-storage-blob dentro del Cluster de Databricks

In [ ]:
from azure.storage.blob import BlobServiceClient, BlobClient, generate_blob_sas, AccountSasPermissions, ResourceTypes

# Se guardan los 3 DataFrames de Pandas como archivos CSV en el sistema de archivos local
df_departamentos.to_csv("/dbfs/tmp/df_departamentos.csv", index=False)
df_empleados.to_csv("/dbfs/tmp/df_empleados.csv", index=False)
df_puestos.to_csv("/dbfs/tmp/df_puestos.csv", index=False)

# Se realiza la conexión con la cuenta de almacenamiento de Azure Blob Storage
account_url = "https://storageptg.blob.core.windows.net/"
token_sas = "sp=racwd&st=2024-03-27T22:34:16Z&se=2024-03-28T06:34:16Z&spr=https&sv=2022-11-02&sr=c&sig=QNQ%2BYuVy8W1FaVdfK5xE2tg4Tpn%2Fe2wvVlDYBoBfj64%3D"
blob_service_client = BlobServiceClient(account_url, credential=token_sas)

# Con este segmento de codigo puedo subir los archivos CSV al contenedor de Azure Blob Storage
for dataframe_name in ["df_departamentos", "df_empleados", "df_puestos"]:
    with open(f"/dbfs/tmp/{dataframe_name}.csv", "rb") as data:
        blob_client = blob_service_client.get_blob_client(container="databricks", blob=f"{dataframe_name}.csv")
        blob_client.upload_blob(data)